# Extracting data from relational databases
## SQLite Database

### import package

In [ ]:
#import sqlite3 package
import sqlite3

In [ ]:
# create a connection to a databse : create the database if not available
connection = sqlite3.connect("classroom.db")
connection.close()

In [ ]:
#open connection
connection = sqlite3.connect("classroom.db")
#open cursor
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physcis_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [ ]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "M", 83, 76, 89)]

connection = sqlite3.connect("classroom.db")
cursor = connection.cursor()

for student in classroom_data:
    insert_statment = """INSERT INTO classroom
                        (student_id, name, gender, physcis_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                      student[3], student[4], student[5])
    cursor.execute(insert_statment)
connection.commit()
connection.close()

In [ ]:
connection = sqlite3.connect("classroom.db")
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

connection.close()

### MySQL Database
#### install package

In [ ]:
!conda install -y -q pymysql

#### import package

In [ ]:
import pymysql

In [ ]:
!conda install -y -q pymssql

In [ ]:
import pymssql

In [ ]:
cnx = {
    'host': 'hostname:1433',
    'username': '',
    'password': '',
    'db': ''}
conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
conn.close()

In [ ]:
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physcis_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [ ]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "M", 83, 76, 89)]

connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
cursor = connection.cursor()

for student in classroom_data:
    insert_statment = """INSERT INTO classroom
                        (student_id, name, gender, physcis_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0}, '{1}', '{2}', {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                      student[3], student[4], student[5])
    cursor.execute(insert_statment)
connection.commit()
connection.close()

In [ ]:
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

connection.close()